div {
  background-image: url("https://i.pinimg.com/originals/7d/57/23/7d572352ca6c51bc8e3215e95a72a7dd.jpg");
  height: 700px;
  min-height: 120vh;
  width: 100%;
  color: white;
  background-position: 0px;
  background-size: cover;
}
h4 {
  color: white;
}

h3 {
  color: white;
}
a {
  color: white;
}
h2 {
  color: white;
}
h1 {
  color: white;
}

p {
  color: white;
}
body {
  margin: 0;
  top: 0;
}
